@model CaroneiroWeb.Models.RideSearch
@using (Html.BeginForm("OfferRideSearchList", "Advertisement"))
{
    @Html.AntiForgeryToken()

    <div class="input-group">
        <div class="table-responsive">
            <table>
                <tr>
                    <td width="9"><i class="fa fa-map-marker"></i></td>
                    <td><h5>Saindo de </h5></td>
                    <td width="9"></td>
                    <td>@Html.EditorFor(model => model.exitState, new { htmlAttributes = new { @class = "form-control", style = "width:100px; border:none", @placeholder = "estado" } })</td>
                    <td width="9"></td>
                    <td>@Html.EditorFor(model => model.exitTown, new { htmlAttributes = new { @class = "form-control", style = "width:200px; border:none", @placeholder = "cidade" } })</td>
                    <td width="9"></td>
                    <td width="9"><i class="fa fa-map-marker"></i></td>
                    <td><h5>Indo para </h5></td>
                    <td width="9"></td>
                    <td>@Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control", style = "width:100px; border:none", @placeholder = "estado" } })</td>
                    <td width="9"></td>
                    <td>@Html.EditorFor(model => model.city, new { htmlAttributes = new { @class = "form-control", style = "width:200px; border:none", @placeholder = "cidade" } })</td>
                    <td width="9"></td>
                    <td><input type="submit" value="Buscar" class="btn btn-info btn-xs" /></td>
                </tr>
            </table>
        </div>
    </div>
}
