<!-- Top Background Image Wrapper -->
<div class="bgded" style="background-image:url('Design/images/logo.jpg');">
    <div class="overlay">
        <div class="wrapper row0">
            <div id="topbar" class="clear">
                <!-- ################################################################################################ -->
                <div class="fl_right">
                    <ul class="faico clear">
                        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
                    </ul>
                </div>
                <!-- ################################################################################################ -->
            </div>
        </div>
        <div class="wrapper row1">
            <header id="header" class="clear">
                <!-- ################################################################################################ -->
                <div id="logo" class="fl_left">
                    <h1>Caroneiro</h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li>@Html.ActionLink("Login", "Login", "Access")</li>
                        <li>@Html.ActionLink("Cadastro", "Register", "Access")</li>
                    </ul>
                </nav>
                <!-- ################################################################################################ -->
            </header>
        </div>
        <div class="wrapper row1">
            <section id="pageintro" class="clear">
                <!-- ################################################################################################ -->
                <p class="font-x2 capitalise">Ainda não faz parte do Caroneiro?</p>
                <i class="fa fa-5x fa-car"></i>
                <h2 class="font-x2 uppercase">
                    Faça seu cadastro, é gratuito!<br />
                    <!-- ################################################################################################ -->
                </h2>
            </section>
        </div>
    </div>
</div>
<!-- End Top Background Image Wrapper -->
<div class="wrapper coloured">
    <section id="cta" class="clear">
        <!-- ################################################################################################ -->
        <div class="three_quarter first">
            <h2 class="uppercase nospace">No caroneiro você pode buscar e oferecer carona, hospedagem e companhia!</h2>
            <p class="nospace">É so se conectar e encontrar um anúncio compatível a sua necessidade.</p>
        </div>
        <div class="one_quarter"><a class="btn" href='@Url.Action("About","Home")'>Conheça + </a></div>
        <!-- ################################################################################################ -->
    </section>
</div>
<div class="wrapper row5">
    <div id="copyright" class="clear">
        <!-- ################################################################################################ -->
        <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - Caroneiro
        <p class="fl_right"><a href='@Url.Action("About","Home")'>Sobre - </a><a href='@Url.Action("Contact","Home")'>Contato - </a><a href='@Url.Action("TermsOfUse","Home")'>Termos de Uso</a></p>
        <!-- ################################################################################################ -->
    </div>
</div>
