@model CaroneiroWeb.Models.Users

@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<h3>Configurações</h3>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>Alterar minha senha</h4>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.password_user, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.password_user, new { htmlAttributes = new { @class = "form-control", style = "width: 400px" } })
                @Html.ValidationMessageFor(model => model.password_user, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enviar" class="btn btn-info" />
                @Html.ActionLink("Cancelar", "Index", "Settings", new { area = "" }, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>

}

